<h4>Debounce Time: whole word request at time</h4>
<form>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Search</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputPassword" placeholder="Search" #myinput1>
      </div>
    </div>
  </form>
<br>
<hr>
<h4>Debounce Until changed:  not repeating request</h4>
  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Search</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputPassword" placeholder="Search" #myinput2>
      </div>
    </div>
  </form>
