<!-- Observable can handle in 3 ways 
    1. Data : (data) => {}
    2. Error : (error) => {}
    3. Complete :  () => {} -->

<div>
<app-from-event></app-from-event>
</div>
<router-outlet></router-outlet>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Promise</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button href="#" class="btn btn-primary" routerLink="/promise">Promise</button>
    </div>
  </div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Map Operator</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button href="#" class="btn btn-primary" routerLink="/map">Map</button>
    </div>
  </div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Interval Operator</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button href="#" class="btn btn-primary" routerLink="/timer">Interval</button>
    </div>
  </div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">to-Array Operator</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button href="#" class="btn btn-primary" routerLink="/to-Array">to-Array</button>
    </div>
  </div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Subject Operator</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button href="#" class="btn btn-primary" routerLink="/subject">Subject</button>
    </div>
  </div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Tap, Take Operator</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button href="#" class="btn btn-primary" routerLink="/tap">Tap, Take</button>
    </div>
  </div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Debounce Operator</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button href="#" class="btn btn-primary" routerLink="/debounce">Debounce Time</button>
    </div>
  </div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Concat MergeOperator</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button class="btn btn-primary" routerLink="/concat">Concat , Merge</button>
    </div>
  </div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">ConcatMap Operator</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button href="#" class="btn btn-primary" routerLink="/concat-map">ConcatMap</button>
    </div>
  </div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">MergeMap Operator</h5>
      <p class="card-text">MergeMap : it is flattening Operator having subscribe inside subscribe</p>
      <button href="#" class="btn btn-primary" routerLink="/merge-map">MergeMap</button>
    </div>
  </div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">SwitchMap Operator</h5>
      <p class="card-text">Many clicks will submit only one request at Time.</p>
      <button href="#" class="btn btn-primary" routerLink="/switch-map">SwitchMap</button>
    </div>
  </div>

<br>

<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">ExhaustMap Operator</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button href="#" class="btn btn-primary" routerLink="/exhause-map">ExhaustMap</button>
        </div>
    </div>
</div>

<br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Combine Latest Operator</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button href="#" class="btn btn-primary" routerLink="/combine-latest">Combine Latest</button>
    </div>
  </div>

  <br>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Spread Operator</h5>
      <p class="card-text">spread oprator is used to covert array into string.</p>
      <button href="#" class="btn btn-primary" routerLink="/spread">Spread Operator</button>
    </div>
  </div>


